{% extends "tours/base.html" %}
{% block content %}
    <!-- HERO -->
    <section class="jumbotron text-center mt-4" style="background: url(https://i.ibb.co/ctzCNj8/head-compare-travel-insurance-quotes.jpg); background-position: center center; background-size: cover ">
      <h1 class="display-4" style="color: white">Всякие туры</h1>
      <p class="lead" style="color: white">{{ subtitle }}</p>
      <p class="mt-5 w-50 mx-auto" style="color: white">{{ description }}</p>
    </section>
    <!-- CARDS -->
    <div class="row mt-5">
      {% for tour_id, tour in random_tours.items %}
      <div class="col-sm-12 col-lg-4">
        <div class="card mb-4">
          <img src="{{ tour.picture }}" style="object-fit:cover; height:220px; width: auto" class="card-img-top img-fluid" alt="">
          <div class="card-body">
            <h2 class="h5 card-title">{{ tour.title }} {{ tour.stars }}★</h2>
            <p class="card-text">{{ tour.description|truncatechars:90 }}</p>
            <a href="{% url 'tour' tour_id %}" class="btn btn-sm btn-primary">Подробнее</a>
          </div>
        </div>
      </div>
      {% endfor %}
      </div>
{% endblock %}
